@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html, body, #root {
  height: 100%;
}

/* Define custom layer for the card */
@layer components {
  .card {
    @apply bg-white shadow-soft rounded-xl border border-gray-100;
  }
}
